<table>
    <tr *ngFor="let ligne of place; let i = index;">        
        <td *ngFor="let colonne of ligne; let j = index;" [ngClass]="{selected: selectedI == i && selectedJ == j }" [style.background-color]="colonne" (click)="selectPixel(i, j)" >
        </td>
    </tr>
</table>
<br />
<app-palette (selectColor)="selectColor($event)"></app-palette>